.Timer{
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}

.timer-h, .timer-m, .timer-s, .timer-ms{
    font-size: 10rem;
    padding: 1rem;
}
.Timer h1{
    display: flex;
    font-size: 6rem;
}

.timer-buttons{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.timer-button{
    padding: 1rem;
    margin: 1rem;
    
}

