.elem3 {
    position: fixed;
    overflow: hidden;
    bottom: -2rem;
    left: -5rem;
    transform: rotate(-30deg);
    height: 70%;
    z-index: 1;
}

.elem4 {
    position: fixed;
    top: 10rem;
    left: 100rem;
    transform: rotate(30deg);
    height: 100%;
    z-index: 1;
}

.profileContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    margin: 1rem;
    height: 88vh;
    width: auto;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    z-index: 1;
}

.leftBox {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 90%;
    width: 45%;
    transition: all ease-in-out .3s;
    z-index: 1;
}

.rightBox {
    display: flex;
    gap: 1rem;
    height: 90%;
    width: 45%;
    border-radius: 1rem;
    z-index: 1;
    flex-direction: column;

}

.box1 {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: rgba(250, 235, 215, .8);
    border-radius: 1rem;
    z-index: 1;
    height: 100%;
    width: 100%;
    box-shadow: -30px 50px 30px rgba(0, 0, 0, 0.280);
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    border-radius: .7rem;
    -webkit-backdrop-filter: blur(20px);
}


.box2 {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 1rem;
    z-index: 1;
    height: 50%;
    width: 100%;
    box-shadow: -30px 50px 30px rgba(0, 0, 0, 0.280);
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    border-radius: .7rem;
    -webkit-backdrop-filter: blur(20px);
}

.box3 {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 1rem;
    z-index: 1;
    height: 50%;
    width: 100%;
    box-shadow: -30px 50px 30px rgba(0, 0, 0, 0.280);
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    border-radius: .7rem;
    -webkit-backdrop-filter: blur(20px);
}

.circle {
    width: 100px;
    height: 100px;
    background: radial-gradient(rgba(255, 0, 0, 0.1), rgb(250, 235, 215));
    border-radius: 50%;
    position: absolute;
    animation: 5s ease-in-out infinite alternate-reverse;
    z-index: 1;
  }
  .circle:nth-child(1) {
    top: 200px;
    left: 100px;
    animation-name: move1;
  }
  
  .circle:nth-child(2) {
    top: 500px;
    right: 200px;
    animation-name: move1;
  }
  .circle:nth-child(3) {
    bottom: 200px;
    left: 200px;
    animation-name: move3;
  }
  .circle:nth-child(4) {
    bottom: 300px;
    left: 800px;
    animation-name: move2;
  }
  .circle:nth-child(5) {
    top: 200px;
    right: 100px;
    animation-name: move1;
  }
  @keyframes move1 {
    to {
      transform: translateY(100px) translateX(-100px) scale(1.5);
    }
  }
  
  @keyframes move2 {
    to {
      transform: translateY(-80px) translateX(80px) scale(2.5);
    
    }
  }

  @keyframes move3 {
    to {
      transform: scale(2) translateX(40px);
    
    }
  }

  .Self2 {
    align-self: center;
    height: 45%;
    width: 45%;
    border-radius: 50%;
}