.elem3 {
    position: fixed;
    overflow: hidden;
    bottom: -2rem;
    left: -5rem;
    transform: rotate(-30deg);
    height: 70%;
    z-index: 1;
}

.elem4 {
    position: fixed;
    top: 10rem;
    left: 100rem;
    transform: rotate(30deg);
    height: 100%;
    z-index: 1;
}

.profileContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    margin: 1rem;
    height: 88vh;
    width: auto;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    border-radius: 1rem;
    z-index: 1;
}


.leftBox {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 90%;
    width: 45%;
    min-width: 50rem;
    max-width: 50rem;
    min-height: 45rem;
    max-height: 45rem;
    transition: all ease-in-out .3s;
    z-index: 1;
}

.rightBox {
    display: flex;
    gap: 1rem;
    height: 90%;
    width: 45%;
    min-width: 50rem;
    max-width: 50rem;
    min-height: 45rem;
    max-height: 45rem;
    border-radius: 1rem;
    z-index: 1;
    flex-direction: column;
    flex-shrink: none;
}

.box1 {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 1rem;
    z-index: 1;
    height: 100%;
    width: 100%;
    box-shadow: -30px 50px 30px rgba(0, 0, 0, 0.280);
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    border-radius: .7rem;
    -webkit-backdrop-filter: blur(20px);
}



.box2 {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 1rem;
    z-index: 1;
    height: 50%;
    width: 100%;
    box-shadow: -30px 50px 30px rgba(0, 0, 0, 0.280);
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    border-radius: .7rem;
    -webkit-backdrop-filter: blur(20px);
    overflow: hidden;
}

.box3 {
    display: flex;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 1rem;
    z-index: 1;
    height: 50%;
    width: 100%;
    box-shadow: -30px 50px 30px rgba(0, 0, 0, 0.280);
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    border-radius: .7rem;
    -webkit-backdrop-filter: blur(20px);
}

.circle {
    width: 100px;
    height: 100px;
    background: radial-gradient(rgba(255, 0, 0, 0.1), rgb(250, 235, 215));
    border-radius: 50%;
    position: absolute;
    animation: 4s ease-in-out infinite alternate-reverse;
    z-index: 1;
}

.circle:nth-child(1) {
    top: 200px;
    left: 100px;
    animation-name: move1;
}

.circle:nth-child(2) {
    top: 500px;
    right: 200px;
    animation-name: move2;
}

.circle:nth-child(3) {
    bottom: 200px;
    left: 200px;
    animation-name: move3;
}

.circle:nth-child(4) {
    bottom: 300px;
    left: 800px;
    animation-name: move1;
}

.circle:nth-child(5) {
    top: 200px;
    right: 100px;
    animation-name: move1;
}

@keyframes move1 {
    to {
        transform: translateY(100px) translateX(-100px) scale(1.5);
    }
}

@keyframes move2 {
    to {
        transform: translateY(-80px) translateX(80px) scale(2.5);

    }
}

@keyframes move3 {
    to {
        transform: scale(2) translateX(40px);

    }
}

.Self2 {
    align-self: center;
    height: 45%;
    width: 45%;
    border-radius: 50%;
    z-index: 2;
}

.bgImg {
    position: absolute;
    height: 30%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 10px 10px 0 0;
    z-index: 1;
}

.aboutMeContainer {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
}

.aboutMeContainerSub {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    padding: 2rem;

}

.subContainer {
    display: flex;
    flex-direction: column;
}

.subContainer2 {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.subContainer p {
    padding-left: 1rem;
}

.aboutMeTitle {
    margin: 2rem;
}

.aboutMeTitle h1 {
    color: rgba(0, 0, 0, .8);
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.aboutMeTitle p {
    color: rgba(0, 0, 0, 0.2);
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bar {
    position: relative;
    width: 20rem;
    height: 2px;
    background: #ffffff;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 1);
}

.bar2 {
    position: relative;
    width: 45rem;
    height: 2px;
    background: #ffffff;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 1);
}

.skillTitle h1 {
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, .8);
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.skillCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
}

.line {
    width: 400px;
    height: 2px;
    background: linear-gradient(to left, rgba(255, 255, 255,0), rgb(255, 255, 255), rgb(0, 0, 0));
    animation: rotBGimg 2s ease-in-out infinite alternate-reverse;

}

@keyframes rotBGimg {
    from {
        transform: scale(1);
    }

    to {
        transform: translateX(10px) scale(1.1);
    }
}

.Icon{
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10%;
    padding: .5rem;
    height: 9vh;
    width: 5rem;
    transition: ease-in-out .5s;
    transform: scale(1.3);
    box-shadow: 0 0  10px rgb(0, 0, 0)
}

.Icon:hover{
    transform: rotate(0deg);
}