.nav {
    display: flex;
    justify-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    padding: 1rem 2rem 0 2rem;
    z-index: 9;
    background: transparent;
}

.nav img{
    position: relative;
    width: 100%;
    height: 100vh;
    max-width: 7rem;
    max-height: 7rem;
    border-radius: 100%;
    z-index: 9;
}

.navLinks{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 1s;
    gap: 5rem;
    z-index: 9;
}

.nav .navLinks a{
    display: flex;
    border-radius: 30%;
    text-decoration: none;
    color: rgb(0, 0, 0);
    opacity: 1;
    transition: ease-in-out 1s;
    z-index: 9;
    padding: .5rem;
}

.navLinks a:hover{
    color: black;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.7);
    transition: ease-in-out .5s;
    transform: scale(1.1);
    box-shadow: 0 0 20px rgb(0, 0, 0);
}