.nav {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 1rem 2rem 0 2rem;
    
}

.nav img{
    position: relative;
    width: 100%;
    height: 100vh;
    max-width: 7rem;
    max-height: 7rem;
    border-radius: 100%;
}

.nav .navLinks{
    display: flex;
    align-items: center;
    transition: ease-in-out 1s;
    gap: 2rem;
}

.nav .navLinks a{
    border-radius: 30%;
    text-decoration: none;
    color: rgb(0, 0, 0);
    opacity: 1;
    transition: ease-in-out 1s;
}

.navLinks a:hover{
    color: black;
    opacity: 1;
    background-color: rgba(250, 235, 215, .7);
    transition: ease-in-out .5s;
    transform: scale(1.3);
    box-shadow: 0 0  10px rgb(0, 0, 0)
}