*{
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #ffffff,rgb(228, 228, 228),rgb(51, 51, 51));
}
